<div class="d-flex flex-column h-100">
  <header class="flex-shrink-0">
    <h1>Celonis Pictionary</h1>
  </header>
  <main class="flex-grow-1 p-3">
    <div class="modal fade show" tabindex="-1" [ngStyle]="{ display: display }">
      <div class="modal-dialog modal-dialog-centered text-dark rounded p-2">
        <div class="modal-content">
          <div class="modal-body">
            <div *ngIf="loading; else selectedCard" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #selectedCard>
              <p class="display-5 text-center">{{ this.card }}</p>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="p-5">
      <a type="button" class="display-2 text-info text-decoration-underline" (click)="openModal()">
        Pick a Celonis Product
      </a>
    </div>
  </main>
  <footer class="flex-shrink-0 text-white">
    <p>Made with &#x2661; by Javier de Arcos</p>
  </footer>
</div>